.comments{
    width: 50%;
    margin: auto;
}
.comments #comment-box{
    width: 100%;
    box-sizing: border-box;
}
.comments #submit-comment{
    padding: 5px 20px;
    display: block;
    margin-left: auto;
}
